<%= bootstrap_form_for @sample do |f| %>

  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sample.errors.count, "error") %> prohibited
        this sample from being saved:
      </h2>
      <ul>
        <% @sample.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, label: "Название" %>
  <%= f.text_field :weight, label: "Weight" %>
  <%= f.text_field :size, label: "Size" %>
  <%= f.text_field :M, label: "M" %>
  <%= f.text_field :lambda_em, label: "Lambda em" %>
  <%= f.text_field :lambda_ex, label: "Lambda ex" %>
  <%= f.text_field :description, label: "Description" %>
  <%= f.submit %>

<% end %>

