<%= bootstrap_form_for @device do |f| %>

  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@device.errors.count, "error") %> prohibited
        this device from being saved:
      </h2>
      <ul>
        <% @device.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, label: "Название" %>
  <%= f.text_field :manufacturer, label: "Производитель" %>
  <%= f.text_field :model, label: "Модель" %>
  <%= f.text_field :description, label: "Описание" %>
  <%= f.submit %>

<% end %>
