<%= bootstrap_form_for @researcher do |f| %>

  <% if @researcher.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@researcher.errors.count, "error") %> prohibited
        this researcher from being saved:
      </h2>
      <ul>
        <% @researcher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, label: "Имя" %>
  <%= f.text_field :phone, label: "Телефон" %>
  <%= f.text_field :organizations, label: "Организация" %>
  <%= f.text_field :address, label: "Адрес" %>
  <%= f.text_field :email, label: "Email" %>
  <%= f.submit %>



<% end %>
