

 <div class="panel panel-default">

 <div class="panel-body">
<div style="float:right;">
  <%= link_to 'Добавить данные', new_measurement_path, :class => 'btn btn-default btn-md' %>
  <%= link_to 'Скачать отчет', "/measurements.pdf", :class => 'btn btn-default btn-md' %>
</div>


<%= form_tag(measurements_path, :method => "get", id: "search-form", :class => "form-inline") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Введите запрос", class: 'form-control' %>
  <%= submit_tag "Найти", class: "btn btn-default"%>
  <% if @measurements.present? %>

<% else %>
  <p>Записи по параметру <%= params[:search] %> не найдены.</p>
<% end %>

 </div>
 </div>

 <div class="panel panel-info">
 <div class="panel-heading">Таблица измерений</div>
 <div class="panel-body" style="min-height: 300px">

    <table class="table table-striped table-condensed table-bordered table-hover">
  <tr>
    <th>File name</th>
    <th>Count</th>
    <th>Bin Time</th>
    <th>T</th>
    <th>C</th>
    <th>n</th>
    <th>x</th>
    <th>y</th>
    <th>z</th>
    <th>std</th>
  </tr>

  <% @measurements.each do |measurement| %>
    <tr>
      <td><%= measurement.fileName %></td>
      <td><%= measurement.count %></td>
      <td><%= measurement.binTime %></td>
      <td><%= measurement.T %></td>
      <td><%= measurement.C %></td>
      <td><%= measurement.n %></td>
      <td><%= measurement.x %></td>
      <td><%= measurement.y %></td>
      <td><%= measurement.z %></td>
      <td><%= measurement.std %></td>
      <td><%= link_to 'Показать', measurement_path(measurement), :class => 'btn btn-link btn-sm' %></td>
      <td><%= link_to 'Изменить', edit_measurement_path(measurement), :class => 'btn btn-link btn-sm' %></td>
      <td><%= link_to 'Удалить', measurement_path(measurement), :class => 'btn btn-link btn-sm',
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
   </tr>
  <% end %>
</table>
 </div>

 </div>

 <%= will_paginate @measurements , renderer: BootstrapPagination::Rails%>


 <% end %>